
body {
    background: #811898;
    font-family: Arial;
}
h1 {
    color: red;
}
/* dNYMgDA31pmdk6Avsvsg7S7A0B3CbTQJD0GwNTet2fgdMH9UnxqYGin4Lf86Sg7YGXsWlDvA1np4xCTt1Kh95tdPJNhSO2nIoIN0J9Hup18IFeZdbwlwaLWOZXczGrnrWB1FZ8071iYn1nPh3WeSoOtgznPoo3tg6VhHrYAtStEgmk9q3nh50EyYOwg2RxB6uYfNdmSz */
